/* Body */
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
}
/* ----------------------------------------------------------------------- Main Div */
#Head-Div{
    text-align: center;
    background-color: blueviolet;
    height: 400px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #FFD93D);
    background-size: 400% 400%;
    animation: Head-Div 12s ease infinite;
}
@keyframes Head-Div {
    0% {
        background-position: 0% 50%;
    }
    25% {
      background-position: 50% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
      background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* ----------------------------------------------------------------------- Image-Tamizha */
#Image-Tamizha{
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 70%;
    width: 80px;
    animation: Image-Tamizha 20s infinite linear;
}
@keyframes Image-Tamizha{
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
}
/* ----------------------------------------------------------------------- Name Heading */
#Name{
    /* font-family: 'Varela Round', sans-serif; */
    margin-top: 0%;
    text-align: center;
    color:white;
    /* background-color: aqua; */
    -webkit-animation: Name 1s ;
	animation: Name 1s ;
}
div.Name{
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}
.Name-item {
  color:whitesmoke;
  animation-name: Name-item;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  /* shorthand 
  animation: Name-item 2s ease 0s 1 normal none;
  */ 
}
@keyframes Name-item {
  0%{
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100%{
    filter: blur(0);
    opacity: 1;
  }
}

/* ----------------------------------------------------------------------- Hire ME */
.Hire-Me {
  background-color: #222;
  border-radius: 20px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  /* font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif; */
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 4px 20px 4px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
}
.Hire-Me:hover,
.Hire-Me:focus {
  opacity: .75;
}
/* ----------------------------------------------------------------------- Skills */
.material-icons.md-48 { font-size: 60px;width: 100px;}
/* ----------------------------------------------------------------------- About HTML */
div.About-HTML{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.About-HTML-Item {
  /* width: 100px; */
  /* height: 100px; */
  /* background-color:#ffe672; */
  animation-name: About-HTML-Item;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation: About-HTML-Item 1s ease 0s 1 normal none;
}
@keyframes About-HTML-Item {
  0%{
    transform: rotateY(100deg);
    transform-origin: left;
    opacity: 0;
  }
  100%{
    transform: rotateY(0);
    transform-origin: left;
    opacity: 1;
  }
}
/* ----------------------------------------------------------------------- About CSS */
div.About-CSS{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.About-CSS-Item {
  /* width: 100px; */
  /* height: 100px; */
  /* background-color:#ffe672; */
  animation-name: About-CSS-Item;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation: About-CSS-Item 1s ease 0s 1 normal none;
}
@keyframes About-CSS-Item {
  0%{
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100%{
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
/* ----------------------------------------------------------------------- About CSS */
div.About-JS{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.About-JS-Item {
  /* width: 100px; */
  /* height: 100px; */
  /* background-color:#ffe672; */
  animation-name: About-JS-Item;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation: About-JS-Item 1s ease 0s 1 normal none;
}
@keyframes About-JS-Item {
  0%{
    transform: rotateY(-100deg);
    transform-origin: right;
    opacity: 0;
  }
  100%{
    transform: rotateY(0);
    transform-origin: right;
    opacity: 1;
  }
}
/* ----------------------------------------------------------------------- About Me! */
div.About-Me{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
    /* background-image: url(/src/Tamizha.jpeg); */
    /* background-repeat: no-repeat; */
}
.About-Me-Item {
  /* font-family: 'Varela Round', sans-serif; */
  text-align: center;
  color: black;
  animation-name: About-Me-Item;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none; 
  animation: About-Me-Item 2.2s ease 0s 1 normal none;
}
@keyframes About-Me-Item {
  0%{
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100%{
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}